# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen


#JS Files

**/*.js
**/*.js.map


#Node Modules

node_modules